<wm-page data-ng-controller="MainPageController" name="mainpage">
    <wm-mobile-navbar name="mobile_navbar1" title="Chat Room" leftnavpaneliconclass="wi wi-menu" backbutton="false" imgsrc="bind:Variables.employeeDetails.firstRecord.picurl">
        <wm-anchor name="anchor1" iconclass="wi wi-sign-out" caption="" on-tap="Variables.logoutVariable.invoke()"></wm-anchor>
    </wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="chatcontent" overflow="auto" class="chatcontent">
                <wm-livelist itemclass="bind:item.username === Variables.loggedInUser.dataSet.name? &quot; mine&quot; : &quot;&quot;" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list chat" dataset="bind:Variables.chatroom.dataSet" navigation="None"
                name="chatmessageList" nodatamessage="Start Chat by entering message" listclass="list-group">
                    <wm-listtemplate layout="inline" name="listtemplate1">
                        <wm-container class="popover clearfix" name="container2_1">
                            <wm-container class="arrow" name="container3"></wm-container>
                            <wm-container class="media-body" name="container5">
                                <wm-label name="Content" caption="bind:Variables.chatroom.dataSet.message" class="p media-heading "></wm-label>
                                <wm-container class="pull-right" name="container5_1">
                                    <wm-label name="label4" class="small" caption="by " padding="unset 0.5em unset unset"></wm-label>
                                    <wm-label name="Name" class="small" caption="bind:Variables.chatroom.dataSet.username"></wm-label>
                                    <wm-label name="label4" class="small" caption="at " padding="unset 0.5em unset 1em"></wm-label>
                                    <wm-label name="Time" caption="bind:Variables.chatroom.dataSet.time | toDate: 'hh:mm:ss a'" class="small"></wm-label>
                                </wm-container>
                            </wm-container>
                        </wm-container>
                    </wm-listtemplate>
                </wm-livelist>
            </wm-container>
            <wm-container name="messageformContainer" backgroundcolor="#efefef" height="40pt">
                <wm-form errormessage="" captionposition="top" captionalign="left" name="messageForm" on-submit="Variables.chatroom.send();Widgets.messageForm.reset();" class="messgeform">
                    <wm-layoutgrid name="layoutgrid1" height="100%">
                        <wm-gridrow name="gridrow1" height="100%">
                            <wm-gridcolumn columnwidth="9" name="gridcolumn1">
                                <wm-text name="message" height="30pt" placeholder="Enter message here"></wm-text>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn2">
                                <wm-button class="btn-transparent" caption="" type="submit" margin="unset 0.5em" name="sendBtn" iconclass="wi wi-paper-plane" fontsize="18" fontunit="pt" width="60%"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-form>
            </wm-container>
        </wm-page-content>
    </wm-content>
</wm-page>