.chat .popover {
    display: block !important;
    position: relative !important;
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    z-index: 1;
}
.chatcontent {
   height:calc(100% - 40pt);
}
.mine .popover {
    background-color: #e34343;
    color: white;
    float: right;
}
.wm-app .panel.messgeform {
    background-color: transparent;
    margin: 0;
    height: 100%;
}

.wm-app .panel.messgeform .panel-body{
    border: none;
}