<wm-page data-ng-controller="LoginPageController" name="page1">
    <wm-mobile-navbar title="Login" backbutton="false" name="mobile_navbar1"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1" backgroundimage="resources/images/imagelists/chat.png" backgroundsize="auto 100%" backgroundrepeat="no-repeat" backgroundposition="center center">
            <wm-container name="container1" padding="3em unset unset unset">
                <wm-login name="loginForm" data-ng-controller="loginFormController" on-submit="Variables.loginVariable.invoke()" class="loginform">
                    <wm-composite name="userNameField">
                        <wm-label caption="Username" name="userNameLabel" class="control-label"></wm-label>
                        <wm-text placeholder="Enter username" name="usernametext" class="app-login-username" width="100%" autocomplete="off" autocorrect="off" autocapitalize="off" updateon="default"></wm-text>
                    </wm-composite>
                    <wm-composite name="passwordField">
                        <wm-label caption="Password" name="passwordLabel" class="control-label"></wm-label>
                        <wm-text type="password" name="passwordtext" placeholder="Enter password" class="app-login-password" width="100%" autocomplete="off" autocorrect="off" autocapitalize="off" updateon="default"></wm-text>
                    </wm-composite>
                    <wm-button type="submit" caption="Sign in" width="100%" class="app-login-button btn-primary" name="loginButton" margin="1em unset unset unset"></wm-button>
                </wm-login>
            </wm-container>
        </wm-page-content>
    </wm-content>
</wm-page>